body {
  font-family: 'Open Sans', 'Arial', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
  background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%); */
}

.bg-dark {
  background-color: #23395d !important;
}

#spinnerHistory {
  margin: 0 auto;
  display: block;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-group-desc {
  position: relative;
}

.input--style {
  line-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.label--desc {
  position: absolute;
  text-transform: capitalize;
  display: block;
  color: #999;
  font-size: 14px;
  margin: 0;
  margin-top: 7px;
  left: 0;
}
/* ==========================================================================
   #CARD
   ========================================================================== */

@media (max-width: 767px) {
  .card-5 .card-body {
    padding: 40px 30px;
    padding-bottom: 50px;
  }
}

.card-header {
  background-color: #23395d !important;
  color: white !important;
  text-align: center !important;
}

.corpo-warm-red {
  color: #ff4f1f !important;
}

.corpo-teal {
  color: #00ae9e !important;
}

.corpo-aqua {
  color: #3b90aa !important;
}

.white {
  color: #ffffff !important;
}

@font-face {
  font-family: springwood;
  src: url('./springwood_brush-webfont.woff');
}

.corpo-font {
  font-family: springwood;
}

.bigger {
  font-size: 1.2em !important;
}
