body {
  background: rgb(2, 0, 36);
  background: linear-gradient(33deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(160, 0, 255, 1) 100%);
}

.card-header {
  background-color: black !important;
  color: white !important;
  text-align: center !important;
}
